<li class="list-group-item d-flex plantItem justify-content-between">
    <div class='plant' data-plantid="{{id}}">{{name}}</div>
    <div class="col-9 border-start ps-3">{{harvestInstructions}}
        {{!-- <ul>
            <li>
                <p>
                    {{#each companion as |companion|}}
                    {{companion}}
                    {{/each}}
                </p>
            </li>
        </ul> --}}
    </div>
</li>