<li class="list-group-item d-flex plantItem align-items-center justify-content-around">
    <button class="rounded plantDb" data-plantid="{{id}}">See more</button>
    <div class="col-9 border-start ps-3 plantNoDrag" >
        {{name}}<br>
        {{harvestInstructions}}
        {{!-- <ul>
            <li>
                <p>
                    {{#each companion as |companion|}}
                    {{companion}}
                    {{/each}}
                </p>
            </li>
        </ul> --}}
    </div>
</li>

<script src="js/plantDbLookup.js"></script>